{{#each model as |hero|}}
  <div class="col-sm-3 pb-4">
    <div class="card {{if hero.favorite 'border-warning'}}" style="width: 18rem;">
      <!-- <div class="card-img-top card-img-backgroud" style="background-image: url({{hero.image}})"> -->
      <div class="card-img-top card-img-backgroud">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{hero.name}}</h5>
        <p class="card-text">{{hero.description}}</p>
        {{#link-to 'hero.edit' hero.id class="card-link btn btn-primary"}}
          Ver detalhes
        {{/link-to}}
        {{#unless hero.favorite}}
          <a href="#" class="card-link btn btn-warning" {{action 'favorite' hero}}>
            Favoritar
          </a>
        {{/unless}}
      </div>
    </div>
  </div>
{{else}}
  <div class="col-sm-12">
    <div class="alert alert-warning" role="alert">
      Nenhum super-herói encontrado,
      {{#link-to 'hero.new'}}
        clique aqui
      {{/link-to}}
      para criar seu herói favorito.
    </div>
  </div>
{{/each}}
